In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("lsd_math_score_data.csv")

In [4]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [5]:
type(data)

pandas.core.frame.DataFrame

Grabbing a column:

In [6]:
data["LSD_ppm"]

0    1.17
1    2.97
2    3.26
3    4.69
4    5.83
5    6.00
6    6.41
Name: LSD_ppm, dtype: float64

In [9]:
avg_score = data["Avg_Math_Test_Score"]

In [10]:
avg_score

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

Manipulating the table - Add another column:

In [17]:
data["High_Score"] = 100

In [18]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93         100
1                     15     2.97                58.20         100
2                     30     3.26                67.47         100
3                     60     4.69                37.47         100
4                    120     5.83                45.65         100
5                    240     6.00                32.92         100
6                    480     6.41                29.97         100

In [19]:
data["High_Score"] += data["Avg_Math_Test_Score"]

In [20]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97

In [21]:
high_score = data["High_Score"]

In [22]:
type(high_score_score) # A column is a Series

pandas.core.series.Series

Creating a list from columns:

In [26]:
# column_list = ["LSD_ppm", "Avg_Math_Test_Score"]

In [30]:
# data_cleaned = data[column_list]

In [32]:
data_cleaned = data[["LSD_ppm", "Avg_Math_Test_Score"]]

In [29]:
data_cleaned

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [33]:
type(data_cleaned)

pandas.core.frame.DataFrame

In [34]:
y = data[["Avg_Math_Test_Score"]]

In [35]:
type(y)

pandas.core.frame.DataFrame

In [36]:
X = data[["LSD_ppm"]]

In [38]:
type(X)

pandas.core.frame.DataFrame